#actions-container {
    scrollbar-gutter: stable;
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;
}

.request-preview {
    display: flex;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
}

.request-link {
    overflow: hidden;
    font-family: var(--default-font);
    font-weight: normal;
    font-size: medium;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.request-sign {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.request-sign-method {
    font-weight: bold;
    margin-right: 5px;
}

.request-sign-method.GET {
    color: #0091e6;
}

.request-sign-method.POST {
    color: #34b279;
}

.request-sign-method.PUT {
    color: #fa9005;
}

.request-sign-method.PATCH {
    color: #24dbb4;
}

.request-sign-method.DELETE {
    color: #f82020;
}

.request-sign-method.HEAD {
    color: #c624db;
}

.request-sign-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
