#content-container {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    min-width: 350px;
    width: 40%;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

#client-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#client-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}

#url {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    cursor: text;
     color: var(--body-text-color);
}

#client-button-send {
    padding-left: 10px;
    padding-right: 10px;
}

#client-button-send:disabled {
    cursor: auto;
    background-color: var(--button-hover-color);
}

.client-bar-component {
    box-sizing: border-box;
    border: 1px solid var(--button-border-color);
    cursor: pointer;
    color: var(--button-text-color);
}

#client-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#client-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}