#right-sidebar {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 350px;
    width: 40%;
    border: 1px solid var(--border-color);
}

#response-metadata {
    padding: 15px;
    display: flex ;
}

#response-metadata span {
    margin-right: 10px;
}

#response-container {
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;
}
