#right-sidebar-client {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 350px;
    width: 40%;
    border: 1px solid var(--border-color);
}

#response-metadata {
    padding: 15px;
    display: flex;
}

.response-data {
    margin-right: 10px;
}

.response-title {
    font-weight: 600;
    margin-right: 5px;
}

#response-container {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.response-container-items {
    display: none;
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;
}

.response-container-items.show {
    display: initial;
}

.response-code {
    font-weight: bold;
}

#cancel-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

#cancel-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secret-iframe {
    border: none;
    width: 100%;
    height: 100%;
    zoom: 0.75;
    display: block;
}
