#parameter-selector-components {
    display: flex;
    justify-content: space-between;
}

.client-argument-content-items {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.client-argument-content-items.show {
    display: flex;
}

#client-argument-content, #sub-argument-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    scrollbar-gutter: stable;
    overflow: auto;
    height: 100%;
}

#client-argument-content.no-scroll {
    scrollbar-gutter: initial
}

#sub-argument-content.grid, #response-content-bytes.grid {
    display: grid;
}

#context-buttons {
    float: right;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}
