#parameter-selector-components {
    display: flex;
    justify-content: space-between;
}

#client-argument-content, #sub-argument-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    scrollbar-gutter: stable;
    overflow: auto;
    height: 100%;
}

#context-buttons {
    float: right;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}