#terminal {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    font-family: monospace;
    font-weight: 600;
    word-break: break-word;
    color: var(--terminal-text-color);
    background-color: var(--terminal-color);
}

.terminal-output {
    margin: 2px;
    white-space: break-spaces;
}

.terminal-output.request::before {
    content: "> ";
}

#prompt {
    float: left;
    user-select: none;
}

#terminal-text-area {
    display: block;
}

#terminal-text-area span {
    display: inline;
    background-color: transparent;
    font-family: monospace;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    margin: 0px;
}

#terminal-text-area span br:first-child {
  display: none;
}
