#response-content-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#response-payload-bytes {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#response-content-bytes {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    scrollbar-gutter: stable;
}

#detect-container {
    display: flex;
    align-items: flex-end;
}

#detect-container label {
    font-weight: 600;
}

.clipboard-button::before {
  content: '📋';
}

.clipboard-button:hover {
  background-color: transparent;
}

.clipboard-button {
  position: fixed;
  z-index: 1;
  right: 0px;
  margin: 10px;
  margin-right: 32px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
