#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--header-color);
    border: 1px solid var(--border-color);
}

#logo-container {
    display: flex;
    font-size: 40px;
    margin-left: 20px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: var(--logo-color);
    text-shadow: 1px 1px 1px var(--logo-color);
}

#logo-container img {
    height: 100%;
}

#user-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#unsave-container {
    margin: 0px;
}

#session-preview {
    display: flex;
    align-items: center;
    padding: 0px;
}

#username-preview {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

#apps-button-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35px;
    width: 35px;
    margin: 10px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

.apps-menu-row {
    display: flex;
}

.apps-menu-row>.cube {
    height: 4px;
    width: 4px;
    margin: 2px;
    background-color: var(--header-text-color);
}