.parameter-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

.parameter-input.secondary {
    width: 55%;
}

.parameter-input {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
}

.remove-button::after {
    content: "✖";
}

.remove-button {
    visibility: hidden;
    height: 25px;
    width: 25px;
    padding: revert;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.remove-button:hover {
    background-color: var(--button-delete-color);
}

.remove-button.show {
    visibility: visible;
}
