.colored-circle {
    display: inline-block;
    min-width: 9px;
    min-height: 9px;
    width: 9px;
    height: 9px;
    border: 1px solid var(--border-color);;
    background-color: black;
    border-radius: 50%;
}

.colored-circle.active {
    background-color: forestgreen;
}

.colored-circle.inactive {
    background-color: crimson;
}

.pipe-left::before,
.pipe-mid::before,
.pipe-right::before {
    content: '|';
}

.pipe-left,
.pipe-mid {
    margin-right: 4px;
}

.pipe-right,
.pipe-mid {
    margin-left: 4px;
}