:root {
  --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--default-font);
}

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  cursor: pointer;
}

button:hover {
  background-color: #d1d1d1;
}

.option-button {
  font-family: var(--default-font);
  font-size: 1em;
  height: auto !important;
  background-color: transparent;
  border: none;
}

.option-button:hover {
  background-color: #f0f0f0;
}

/* Move to custom css file */

.radio-button-group {
  display: flex;
}

.radio-button-group.cover {
  justify-content: space-around;
}

.radio-button-group.cover label {
  flex: 1 1 auto;
  text-align: center;
}

.radio-button-group input[type="radio"] {
  display: none;
}

.radio-button-group label {
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.radio-button-group label:hover {
  background-color: #d6d5d5;
}

.radio-button-group input[type="radio"]:not(:checked) + label {
  border-bottom: 1px solid transparent;
}

.radio-button-group input[type="radio"]:checked + label {
  border-bottom: 1px solid #d6d5d5;
}

.border-top {
  border-top: 1px solid #d6d5d5;
}

.border-bottom {
  border-bottom: 1px solid #d6d5d5;
}

/* ----------------------- */

/* Move to custom css file */

#column-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.column-option {
  padding: 10px;
  text-align: center;
}

/* ----------------------- */

/* Move to custom css file */

.table-fix {
  table-layout: fixed;
  width: 100%;
  word-break: break-word;
  border-collapse: collapse;
}

.table-styled table, .table-styled th, .table-styled td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-styled tr:nth-child(even) {
  /* background-color: #f3f3f3; */
}

.table-styled tr:first-child th {
  border-top: 0;
}

.table-styled tr:last-child td {
  border-bottom: 0;
}
.table-styled tr td:first-child, .table-styled tr th:first-child {
  border-left: 0;
}

.table-styled tr td:last-child, .table-styled tr th:last-child {
  border-right: 0;
}

/* ----------------------- */
